.reviews {
margin-right: auto;
}
.review__text {
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.read-more {
    height: auto;
}

.review__button {
    margin-top: 10px;
    padding: 8px 10px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    background-color: var(--primary-color);
    border: 0;
    transition: all 500ms;
    cursor: pointer;
}

.review__button:hover {
    background-color: var(--hover-color);
}

.review__line {
    margin-top: 20px;
    border: 1px solid #000;
}
.review__user {
    display: flex;
    align-items: center;
}
.review__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    justify-content: center;
}
.review__item {
    max-width: 100%;
}

@media (min-width: 768px) {
    .review__item {
        max-width: 48%;
    }
}