.cast {
    background-color: #f6f6f6;
    width: 100vw;
    padding: 0 16px;
    display: flex;
    justify-content: center;
}

.cast__content {
    max-width: 1024px;
    width: 100%;
    padding-bottom: 30px;
}

.cast__overlay {
    height: 125px;
}

.swiper {
    width: 100%;
    width: 100%;
    min-height: 0;
    min-width: 0;
}

.mySwiper {
    width: 100%;
}

.swiper-slide {
    max-width: 100px;
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}

.swiper-slide img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    object-fit: cover;
    height: 150px;
}

.cast__name {
    height: 50%;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px 5px;
}

.cast__character {
    color: #727272;
    height: 50%;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px 5px;
}

@media screen and (min-width: 1024px) {
.cast__content {
    padding-left: 16px;
    padding-right: 16px;
}
}