.all__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    z-index: 2000;
    width: 100%;
    background-color: var(--secondary-color);
}

.header__content {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1024px;
    padding: 0px 16px;
    margin-left: auto;
    margin-right: auto;
}

.name {
    color: var(--tertiary-color);
    font-family: Lato, sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0;
    padding-top: 3px;
    transition: all 400ms;
}
.name__container {
    display: flex;
    align-items: center;
}
.name:hover {
    color: var(--primary-color);
}
.icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    fill: var(--primary-color);
    margin-right: 10px;
  }

.nav {
    display: flex;
}

.nav__link {
    padding: 8px 10px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    transition: all 400ms;
}

.nav__link .active {
    color: white;
    background-color: var(--primary-color);
}
.nav__link:hover {
    background-color: var(--hover-color);
}
.nav__link:not(:last-child) {
    margin-right: 10px;
}
.box {
    height: 500px;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 65%, rgba(255,255,255,1) 100%);
    width: 100%;
}

.outlet__container {
    margin-top: -500px;
    max-width: 1024px;
    padding: 0 16px;
    width: 100%;
}

.loader {
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
}
.name__icon {
    height: 40px;
    width: 40px;
}