@import-normalize;

/* bring in normalize.css styles */

:root {
  --primary-color: #e1a126;
  --secondary-color: #000;
  --tertiary-color:#fff; 
  --hover-color: #9e6b0b;
}
h3 {
  font-weight: 500;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.img {
  max-width: 200px;
}

.cast-img {
  max-width: 100px;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}
button {
  background-color: var(--tertiary-color);
}

/* button:hover {
  background-color: var(--primary-color);
  cursor: pointer;
} */

form {
  margin-top: 15px;
  display: flex;
}

.active {
  color: white;
  background-color: var(--primary-color);
}


/*import css */
@import "/src/Pages/Home/Home.css";
@import "/src/components/SharedLayout/SharedLayout.css";
@import "/src/Pages//MovieDetails/MovieDetails.css";
@import '/src/components/Cast/Cast.css';
@import '/src/components/Review/Review.css';
@import '/src/components/Footer/Footer.css';
@import '/src/components/MovieList/MovieList.css';

@media screen and (min-width: 768px) {
  body {
    font-size: 16px;
    line-height: 1.5;
  }}